<div class="dashboard-notification-module single" id="divNotificationWrapper"> 
    <div class="palm-dashboard-icon-container"> 
<!--        <div class="dashboard-newitem tm"> 
            <span>#{count}</span> 
        </div> -->
        <div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-tweetme"> 
        </div> 
    </div> 
    <div class="palm-dashboard-text-container"> 
        <div class="dashboard-title" id="divDashboardTitle"> 
            <!--#{title}Hello!-->
        </div> 
        <div id="dashboard-text" class="palm-dashboard-text">
            #{message}You have new tweets<!--Mentions, messages &amp; tweets-->
        </div> 
    </div>
</div>

