<div class="divHeader" id="divShortHeader">
	
</div>
<div id="ghostElementWrapper">
    <!-- Ghost element for the compose text area goes here -->
</div>
<div id="divComposeAvatarWrapper" class="big-avatar">
	<!-- Partial compose-avatar.html goes here. Found in compose folder, not partials -->
</div>
<div id="divCharCounter" class="">
    140
</div>
<div class="divTextareaWrapper" id="divComposeTextAreaWrapper">
	<div class="textareaCutoff">
		<textarea id="composeTextArea" rows="17" cols="1">
			
		</textarea>
	</div>
</div>

<div class="palm-row-wrapper tm-blue-button tweet-button" id="divButtonWrapper">
	<!--<div id="divCheckMark"></div>-->
	<div id="divLoader"></div>
	<div x-mojo-element="Button" id="tweet-button"></div>	
</div>

<div x-mojo-element="List" id="divActions" class="compose-actions">
	
</div>

<!-- Location Picker -->
<div class="palm-list" id="locationList" style="display: none;">
<div class="palm-row trancate-text">
    <div class="palm-row-wrapper">
        <div x-mojo-element="ListSelector" id="locationPicker"></div>
    </div>
</div>
</div>

<div id="divInReplyToTweetWrapper" style="display: none;">
  <table class="palm-divider labeled">
  <tbody>
  	<tr>
  		<td class="left"></td>
  		<td class="label darker" style="text-transform: none;">
  			Replying to
  		</td>
  		<td class="right"></td>
  	</tr>
  </tbody>
  </table>
  <div id="divTweetWrapper" class="palm-list">
    <!-- Tweet goes here -->
  </div>
</div>


<div id="divBlockTaps">
	
</div>
<div id="divBottomScrollFade" x-mojo-scroll-fade="bottom">
  
</div>