<div id="divEntryPane" class="divDarkPane">
	<div id="divUserInfoPane">
		<div class="field-row" x-mojo-focus-highlight="true">
			<div x-mojo-element="TextField" id="username" class="tm-text-field"></div>
		</div>
		<div class="palm-row-wrapper tm-blue-button go-to-user" id="divButtonWrapper">
			<div x-mojo-element="Button" id="go-to-user-button" class=""></div>	
		</div>
	</div>
</div>
<!--<table class="palm-divider labeled">
<tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			RECENT
		</td>
		<td class="right"></td>
	</tr>
</tbody>
</table>-->
<div id="divBaseLayout"></div>