<div class="big-avatar" id="bigAvatar">
	<img src="#{profile_image_url}" class="prof-image" />
	<img src="images/big-avatar-cover.png" class="big-avatar-cover" />
</div>
<div class="user-info">
	<span class="real_name truncating-text">#{name}</span>
	<span class="screen_name truncating-text">@#{screen_name}</span>
</div>
<div id="divFollowButton" class="loading header-button">
	
</div>
<div id="divUserSubNavWrapper">
	<div class="divSubNavSection" id="user-info-button">
		
	</div>
	<div class="divSubNavSection" id="user-tweets-button">
		
	</div>
	<div class="divSubNavSection" id="user-favorites-button">
		
	</div>
	<div class="divSubNavSection" id="user-mentions-button">
		
	</div>
</div>