<div id="twitterHeader" class="palm-menu-spacer" style="height:55px">
	<div class="palm-menu view-menu no-fade" id="divLoadNew" x-mojo-non-scrolling="true" style="top:0">
		<div class="palm-menu-group">
			<div class="palm-menu-label" style="width:260px">
				<div class="twitter-logo"></div>
			</div>
			<div class="palm-menu-button" x-mojo-tap-highlight="immediate" style="left:260px">
				<div class="palm-menu-icon refresh"></div>
			</div>
		</div>
	</div>
</div>

<!--<div class="tm-load-button refresh" id="divLoadNew">
	<div class="text">

	</div>
</div>-->

<div x-mojo-element="List" id="listWidget">
</div>

<div class="tm-load-button more tweets" id="divLoadOld">
	<div class="text" x-mojo-loc="">Load More</div>
</div>
<div id="divBigLoader" class="sink"></div>
<div id="divActionsAndNavWrapper">
	<!-- This is the compose button, usrname, etc. -->
</div>

<div id="divNavActionsWrapper" x-mojo-element="List">
<!-- This houses all the action icons like home, favorites, search etc. -->
</div>
<div id="divBlockTaps">
	
</div>
<div id="divQuickBarWrapper">
  <div class="quick-bar-icon" id="quickJumpTop">
    
  </div>
  <div class="quick-bar-icon" id="quickRefresh">
    
  </div>
  <div class="quick-bar-icon" id="quickJumpBottom">
    
  </div>
</div>