<div class="short-header-wrapper #{hasWhatsThis} #{headerClass}">
	<div class="short-header-icon #{icon}" id="divShortHeaderIcon">
	
	</div>
	<div class="short-header-text truncating-text" id="divShortHeaderText">
	    <!-- The span with truncating-text used to be just around the lighterText section -->
		<span class="truncating-text">#{mainText} <span class="lighter-text">#{lighterText}</span></span>
	</div>
	<div id="divWhatsThis"class="header-button what">
		<!--hasWhatsThis is either blank or 'has-whats-this' so that you can decide whether to show or hide via css -->
	</div>
	<div id="divHeaderDescription">
		<p>#{-whatsThis}</p>
	</div>
</div>