<!--Metadata are things like "photos" "conversation" "links" or other data that can be used to display information about the tweet, usually in icon form-->
<div class="tweet #{type} #{favorite} #{metadata}" x-mojo-tap-highlight="momentary">
	
	<div class="avatar">
		<div class="avatar_cover_wrapper">
			<img src="#{user.profile_image_url}" />
			<div class="avatar_cover" x-mojo-tap-highlight="momentary"></div>
		</div>
	</div>
	
	<div class="tweet-content">
		<div class="star"></div>
		
		<div class="tweet-info">
			<span class="username truncating-text">#{user.display_name}</span><!-- Used to be screen_name -->
			<span class="prettyTime" created-at="#{created_at}">#{-prettyTime}</span>
		</div>
		
		<p>#{-simpleFormattedText}</p>
		
		<div class="geo">#{geolocation.place}</div>
	</div>
</div>