<div class="divHeader" id="divUserHeader">
  <!-- Will be replaced in the setup function. This just makes it look like it loads faster -->
  <!--<div class="big-avatar" id="bigAvatar">
  	<img src="#{user.profile_image_url}" class="prof-image" />
  	<img src="images/big-avatar-cover.png" class="big-avatar-cover" />
  </div>
  <div class="user-info">
  	<span class="real_name truncating-text">#{user.name}</span>
  	<span class="screen_name truncating-text">@#{user.screen_name}</span>
  </div>
  <div id="divInfoButton" class="header-button">
  	
  </div>-->
</div>
<div id="divSingleTweetWrapper">
	<!-- The list of actions is inside the tweet.html partial in tweet-view/tweet.html -->
	<!-- including it here so it looks like the scene loads faster -->
	<!--<div class="#{type} #{favorite} #{metadata}" id="divSingleTweet">
		<div x-mojo-element="List" id="divActions">
			
		</div>
		<div id="divPhotoThumbnailWrapper">
		  <div id="divRelativeWrapper">
		    <!*--Used to position the covers relative to this div--*>
		    <div id="divImageWrapper">
		      <img src="#{imageUrl}" />
		    </div>
		    <div id="divPhotoThumbnailCover">
		      
		    </div>
		  </div>
		</div>
		<div class="tweet-content-wrapper">
			<div class="tweet-content">
				<div id="star" class="#{favorite}"></div>		
				<p></p>
				<p class="source_and_time"> <span class="source"></span></p>
			</div>
		</div>
	</div>-->
</div>
<div id="divBlockTaps">
	
</div>
<div id="divBottomScrollFade" x-mojo-scroll-fade="bottom">
  
</div>