<div class="divHeader preferences" id="divShortHeader">
	
</div>

<div class="palm-list palm-prefs-list"> 
  <div class="palm-row regular"> 
    <div x-mojo-element="ListSelector" id="numTweetsToLoad" class="long-label"> 
    </div> 
  </div> 
  
  <div class="palm-row regular"> 
    <div x-mojo-element="ListSelector" id="displayName"> 
    </div> 
  </div>
  
  <div class="palm-row regular toggle-section">
    <div class="toggle-label truncating-text">
    	Enter Key Sends
    </div>
    <div>
    	<div id="post-on-enter-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
    	</div>
    </div>
  </div> 
  
  <div class="palm-row regular toggle-section last">
    <div class="toggle-label truncating-text">
    	Large Fonts	
    </div>
    <div>
    	<div id="large-font-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
    	</div>
    </div>
  </div> 
</div>

<table class="palm-divider labeled">
<tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			<!--<div class="divSmallLoader" id="savedSearchLoader">
				
			</div>-->
			NOTIFICATION OPTIONS
		</td>
		<td class="right"></td>
	</tr>
</tbody> 
</table>

<div class="palm-list palm-prefs-list"> 
  <div class="palm-row regular"> 
    <div x-mojo-element="ListSelector" id="checkIntervalList"> 
    </div> 
  </div>
  
  <div class="palm-row regular toggle-section">
    <div class="toggle-label truncating-text">
    	Mentions	
    </div>
    <div>
    	<div id="mentions-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
    	</div>
    </div>
  </div>
  <div class="palm-row regular toggle-section">
    <div class="toggle-label truncating-text">
    	Messages	
    </div>
    <div>
    	<div id="messages-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
    	</div>
    </div>
  </div>
  <div class="palm-row regular toggle-section last">
    <div class="toggle-label truncating-text">
    	Home	
    </div>
    <div>
    	<div id="home-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
    	</div>
    </div>
  </div> 
</div>


<table class="palm-divider labeled">
<tbody>
	<tr>
		<td class="left"></td>
		<td class="label">
			<!--<div class="divSmallLoader" id="savedSearchLoader">
				
			</div>-->
			ACCOUNTS
		</td>
		<td class="right"></td>
	</tr>
</tbody> 
</table>

<div class="palm-list palm-prefs-list account-list">
  <div x-mojo-element="List" id="accountList"></div>

  <div class="palm-row-wrapper tm-blue-button add-account-button" id="divButtonWrapper">
  	<div id="divLoader"></div>
  	<div x-mojo-element="Button" id="add-account-button" class=""></div>	
  </div>
</div>



<div id="divBottomScrollFade" x-mojo-scroll-fade="bottom">
  
</div>
